<div class="container">
  <div class="row">
    <form [formGroup]="formGroup" (ngSubmit)="addModel()">
      <legend style="text-align: center;">Add model</legend>

      <label for="Marka">Mark : </label>
      <select (click)="saveValue($event)" formControlName="mark"   name="" id="Marka" class="form-control">
        <option value=""> -- Select One -- </option>
        <option *ngFor="let mark of marks" value="{{mark.id}}">{{mark.naziv}}</option>
      </select>

      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" name="" formControlName="model" id="model" placeholder="Input model">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
