

<!-- Modeli -->
<section id="servisi" class="bg-light-gray" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1> All models </h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12" id="slika">
        <img src="https://www.bmw.rs/content/dam/bmw/common/home/teaser/bmw-2-series-gran-coupe-inspire-ag-home-teaser-xxl.jpg" height="500px">
      </div>

    </div>
    <div class="row" style="padding: 20px;">
      <div class="col-lg-4"></div>
      <div id="modelistyle" class="col-lg-4" style="margin-top: 10px; text-align: center" >
        <a [routerLink]="['../models']"><button type="button" class="btn btn-mg">All models</button></a>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</section>


<!-- Partneri -->
<section  style="background: #262626;">
  <div class="container">
    <div class="row" style="text-align: center; color: white; margin: 2%">
      <h1>Sponsors</h1>
    </div>
    <div id="partneri" class="row" style="margin: 3%">
      <div class="col-lg-6" >
        <a href="https://www.unicreditbank.rs/rs/leasing.html#Vozila" target="_blank"><img src="assets/picture/un.png" style="margin-left: 10%; margin-top: 30px"></a>
      </div>
      <div class="col-lg-6">
        <a href="http://www.dunavauto.rs/" target="_blank"><img src="assets/picture/dn.jpg" style="margin-left: 25%;"></a>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</section>
