<div class="container">
<div class="row">
  <div class="col-lg-12" style="text-align: center; margin-top: 50px; color: white;">
    <h1> Tabela korisnika </h1>
  </div>
</div>
<div class="row">

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>ID model</th>
      <th>Nasziv Modela</th>
      <th>ID marka</th>
     <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let model of models">
      <td>{{model.id_model}}</td>
      <td>{{model.naziv_modela}}</td>
      <td>{{model.marka_id}}</td>
      <td>
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-warning">Update</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</div>
</div>
